# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build
.next/
.vercel/
.turbo/

# Production
dist/
build/

# Local env files
.env
.env.*

# Logs
logs/
*.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store

# Windows
Thumbs.db

# Prisma
*.db

# Coverage
coverage/
