services:
  db:
    image: postgres:15
    container_name: auconchego_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: auconchego
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auconchego"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "3333:3333"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://postgres:12345@db:5432/auconchego
      PORT: 3333
      NODE_ENV: development
      CORS_ORIGIN: http://localhost:3000
    command: sh -c "npx prisma generate && npx prisma db push && npm run dev"
    working_dir: /app

volumes:
  db_data: